.contact
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-page
{
    max-width: 48rem;
    min-width: 32rem;
}
input, textarea
{
    display: block;
    border: none;
    width: 100%;
    margin-top: .5rem;
    padding: .8rem 1rem;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
label
{
    font-size: 1.5rem;
    display: block;
    text-transform: capitalize;
}